// USWDS SASS variable overrides go here, before we import USWDS itself.

$font-path: "../vendor/uswds/fonts";
$image-path: "../vendor/uswds/img";

// @import 'uswds';

// New custom CSS rules can go here.
html {
  font-size: 1.25rem;
}

section {
  margin: 4rem 0;
}

h2 {
  font-weight: bold !important;
}

.margin-v2 {
  margin: 2rem 0;
}

.object-title {
  font-weight: bold;
  color: white;
}

.anchor {
  color: white;
  // opacity: 0.6;
  // transition: opacity 0.2s ease-in-out;

  &:hover {
    color: white;
    // opacity: 1;
    text-decoration: none;
    // transition: opacity 0.2s ease-in-out;
  }
}

.object-action {
  // font-weight: bold;
  color: white;
  opacity: 0.75;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 1;
    color: white;
    transition: opacity 0.2s ease-in-out;
    text-decoration: none;
  }
}

h2,
h3 {
  color: whitesmoke;
}

.uk-grid {
  // position: absolute;
  // height: 100vh;
}

.svg-collection {
  svg,
  object {
    height: 90vh;
  }

  svg {
    position: fixed;
    right: 15vw;
    // transform: rotate(90deg);
    // top: -55vh;
    path {
      fill: none;
      // stroke: deeppink;
      opacity: 0;
      stroke-width: 3;
    }
  }
}

iframe.uk-width-1-1 {
  height: 33vh;
}

article {
  z-index: 3;

  img {
    z-index: 1;
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
// @import compass

// n is number of stars required
@function multiple-box-shadow($n) {
  $value: "#{random(2000)}px #{random(2000)}px #FFF";
  @for $i from 2 through $n {
    $value: "#{$value} , #{random(4000)}px #{random(2000)}px #FFF";
  }
  @return unquote($value);
}

$shadows-small: multiple-box-shadow(2000);
$shadows-medium: multiple-box-shadow(1600);
$shadows-big: multiple-box-shadow(1400);

// .uk-first-column {
//   background: rgba(0, 0, 0, 0.75);
// }

.uk-grid {
  // height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;

  p,
  h1 {
    color: white;
  }

  div {
    overflow: auto;
  }
}

.flight-path,
.earth,
.moon {
  transition: transform 2s linear, top 2s linear;
  transform-origin: center;
}

.flight-path {
  transform: scale(1, 1) translate(0, 0);
}

.moon {
  position: fixed;
  right: 15vw;
  // top: 83vh;
  transform: scale(1, 1) translate(0, 0);
  z-index: 1;
}

.surface {
  height: 100%;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  // transform: scale(0,0);
  width: 100%;
  z-index: 2;
  transition: opacity 1s linear, top 1s linear;
}

.surface-show {
  opacity: 1;
}

.earth {
  position: fixed;
  right: 15vw;
  transform: scale(1, 1) translate(0, 0);
  z-index: 1;
}

.earth {
  &.on-moon {
    // opacity: 0;
  }
}

.flight-path {
  z-index: 2;
}

.on-earth {
  &.flight-path {
    transform: scale(2.5, 2.5) translate(-6vh, 25vh);
  }
  &.earth {
    transform: scale(2.5, 2.5) translate(-6vh, 25vh);
  }
  &.moon {
    // top: 66vh;
    transform: scale(2.5, 2.5) translate(-6vh, 25vh);
  }
}

.on-moon {
  &.flight-path {
    transform: scale(4, 4) translate(0, -38vh);
  }
  &.earth {
    transform: scale(2, 2) translate(0, -38vh);
  }
  &.moon {
    // top: 66vh;
    transform: scale(4, 4) translate(0, -38vh);
  }
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}

.background {
  position: fixed;
  height: 100vh;
  top: 0;
  width: 100vw;
  // overflow: hidden;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 150s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}

@keyframes animStar {
  from {
    transform: translateY(-2000px);
  }
  to {
    transform: translateY(0);
  }
}

/* UI Kit Sticky */
#navbar-logo {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.uk-active {
    background: rgba(0,0,0,0.95);

    #navbar-logo {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.2s ease-in-out;
    }
}

#navbar {
  z-index: 9999 !important;
}




.ap-site-msg-container {
  margin: auto;
  text-align: center;
  margin: 1rem 15rem;
  padding: 2rem;
  background: rgba(96, 96, 96, 0.8);
  color: white;
}

.ap-site-msg-heading {
  font-size: 2.5rem;
}

.ap-site-scroll-container {
  text-align: center;
  color: white;
  background: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
} 

*, .uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
  font-family: "Letter Gothic Std";
}

.ap-site-logo-container {
  margin: auto;
}

.a15-card {
  border-radius: 10px 10px 0 0;
}

.ap-site-logo-container > .uk-grid {
  background: none;
}

.a15-overlay, .uk-first-column-apollo  {
  background: rgba(0,0,0, 0.8);
}

.a15-landing-section {
  background: black;
}