body {
  /* feel free to change height */
  height: 5000px;
  background: linear-gradient(
    to bottom,
    black,
    darkblue
  );
}

svg {
  position: fixed;
}

#flight-path-svg {
  position: fixed;
}

#csm {
  position: fixed;
}
